body {
    font-family: Arial, sans-serif;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-inline: 30px;
}

.month {
    padding: 10px;
    border-radius: 8px;
}

.month h3 {
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    width: 20px;
    border: 0;
    text-align: center;
    padding: 4px;
}

th {
    background-color: #f9f9f9;
}

.week {
    background-color: #f9f9f9;
}

.today {
    background-color: #007BFF;
    color: white;
}

.text-NS { color: #8A2BE2; }
.text-JC { color: #FFD700; }
.text-HM { color: #DFA408; }
.text-HL { color: #DFA408; }
.text-AA { color: #02dc02; }
.text-CA { color: #FF6F61; }

.btn-group button {
    border: 1px solid;
    border-radius: 0.375rem;
    padding-bottom: 0.25rem;
    padding-top: 0.5rem;
    padding-inline: 0.5rem;
}