<div th:fragment="header" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div sec:authorize="isAuthenticated()" class="bg-[#16163F] p-6 flex items-center gap-10">
        <a href="/missions" class="flex items-center gap-1 text-white font-medium hover:text-gray-300 transition">
            <i class="material-icons">subject</i>
            Mission Explorer
        </a>
        <a href="/work-and-care-calendar" class="flex items-center gap-2 text-white font-medium hover:text-gray-300 transition">
            <i class="material-icons">calendar_month</i>
            Work & Care Calendar
        </a>
        <a href="/daily-execution" class="flex items-center gap-2 text-white font-medium hover:text-gray-300 transition">
            <i class="material-icons">note_alt</i>
            Daily Execution
        </a>
        <a href="/mission-executions" class="flex items-center gap-2 text-white font-medium hover:text-gray-300 transition">
            <i class="material-icons">playlist_add_check</i>
            Missions Executions
        </a>

        <div class="ml-auto flex items-center gap-2">
            <i class="material-icons text-white">person</i>
            <strong class="text-white text-sm" th:text="'(' + ${#authentication.getPrincipal().getAttribute('email')} + ')'"></strong>
            <button class="flex items-center gap-2 bg-red-600 text-white font-medium py-2 px-4 rounded-lg shadow-md hover:bg-red-700 focus:ring-4 focus:ring-red-300 transition duration-200">
                <a th:href="@{/logout}" class="flex items-center gap-2">
                    Log out
                    <i class="material-icons">logout</i>
                </a>
            </button>

        </div>
    </div>

    <div sec:authorize="isAnonymous()" class="bg-[#16163F] p-6 flex items-center gap-6">
        <div class="flex items-center gap-4 px-4 text-white">
            <i class="material-icons">business_center</i>
            <h1 class="font-medium text-lg">Asa - Work Management Tool</h1>
        </div>
        <div class="ml-auto flex items-center gap-2">
            <button
                    class="flex items-center gap-2 bg-[#9933CC] text-white font-medium py-2 px-4 rounded-lg shadow-md hover:bg-[#7A29A5] focus:ring-4 focus:ring-red-300 transition duration-200">
                <a sec:authorize="isAnonymous()" th:href="@{/oauth2/authorization/cognito}" class="flex items-center gap-2">
                    Log in
                    <i class="material-icons">login</i>
                </a>
            </button>
        </div>
    </div>
</div>