<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work & Care Calendar</title>
    <link href="/main.css" rel="stylesheet"/>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="flex gap-6 py-6 bg-gray-100 border-b border-gray-200">
    <div>
        <h1 th:text="${thYear.year()} + ' - ' + ${thYear.title()}"
            class="px-6 text-2xl font-semibold"></h1>
        <div th:replace="fragments/workerSelector :: workerSelector(work-and-care-calendar, Myself)"></div>
    </div>

    <div class="px-6 ml-auto">
        <h2 class="text-2xl font-semibold">Color description</h2>
        <ul th:each="description: ${thYear.colorDescriptions()}">
            <li class="flex items-center gap-2">
                <div class="w-6 h-3"
                     th:style="'background-color: ' + ${thYear.hexColor(description.getKey())}"></div>
                <span class="text-black" th:text="${description.getValue()}"></span>
            </li>
        </ul>
    </div>
</div>

<div class="calendar bg-gray-100 pt-6">
    <div class="month grid gap-1 px-6" th:each="month : ${thYear.months()}">
        <h2 class="text-center text-3xl font-semibold text-gray-800 mb-2" th:text="${month.yearMonth().month}"></h2>
        <table class="min-w-full min-h-[250px] bg-white rounded-lg shadow-md">
            <thead>
            <tr class="bg-gray-200 text-gray-800">
                <th class="px-4 py-2 text-xl">Week</th>
                <th class="px-4 py-2">Mon</th>
                <th class="px-4 py-2">Tue</th>
                <th class="px-4 py-2">Wed</th>
                <th class="px-4 py-2">Thu</th>
                <th class="px-4 py-2">Fri</th>
                <th class="px-4 py-2">Sat</th>
                <th class="px-4 py-2">Sun</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="week: ${month.weeks()}">
                <td th:text="${week}" class="border px-4 py-2 text-center text-gray-700"></td>
                <td th:each="day: ${month.daysByWeek(week)}"
                    th:text="${month.isFillerDay(day) ? '' : day}"
                    th:classappend="day-cell"
                    th:style="'background-color: ' + ${thYear.hexColor(month, day)} + ';'"
                    class="hover:bg-teal-200 transition-colors duration-200"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
