<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monthly Calendar</title>
    <link href="/main.css" rel="stylesheet"/>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<h1 th:text="${thYear.year()} + ' - ' + ${thYear.title()}"></h1>
<div>
    Color usage
    <ul th:each="description: ${thYear.colorDescriptions()}">
        <li th:text="${description.getValue()}"
            th:style="'color: ' + ${thYear.hexColor(description.getKey())} + ';'"></li>
    </ul>
</div>
<div class="calendar">
    <div class="month" th:each="month : ${thYear.months()}">
        <h2 th:text="${month.yearMonth().month}"></h2>
        <table>
            <thead>
            <tr>
                <th>Week</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="week: ${month.weeks()}">
                <td th:text="${week}"
                    th:classappend="week"></td>
                <td th:each="day: ${month.daysByWeek(week)}"
                    th:text="${month.isFillerDay(day) ? '' : day}"
                    th:style="'background-color: ' + ${thYear.hexColor(month, day)} + ';'"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
