<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <title>Asa - Daily Execution</title>

    <script>
        function createInputs(inputNb) {
            const container = document.getElementById("inputContainer");
            container.innerHTML = "";
            for (let i = 1; i <= inputNb; i++) {
                const inputGroup = document.createElement("div");
                inputGroup.innerHTML = `
                    <label for="mission-code-${i}">Mission: </label>
                    <input type="text" id="mission-code-${i}" name="missionCode${i}"/>
                    <label for="mission-percentage-${i}">Percentage: </label>
                    <input type="number" id="mission-percentage-${i}" name="missionPercentage${i}"/>
                    <br/>
                `;
                container.appendChild(inputGroup);
            }
        }
    </script>
</head>

<body>
<h1>What did you do that day?</h1>
<form th:action="@{/daily-execution}" method="post">
    <label for="date">The day: </label>
    <input type="text" id="date" name="date" class="datepicker"/>
    <br/>
    <div id="inputContainer"></div>
    <button type="submit">Submit</button>
</form>

<script>
    flatpickr(".datepicker", {dateFormat: "Y-m-d"});
    createInputs(5);
</script>
</body>
</html>
