<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <title>Asa - Daily Execution</title>

    <script th:inline="javascript">
        function createInputs(inputNb) {
            const container = document.getElementById("inputContainer");
            container.innerHTML = "";
            const missions = /*[[${missions}]]*/ [];
            console.log(missions);
            const missionsOption = missions.map(mission => `<option value="${mission.code}">${mission.code} ${mission.title}</option>`).join('');
            for (let i = 1; i <= inputNb; i++) {
                const inputGroup = document.createElement("div");
                inputGroup.innerHTML = `
                    <label for="mission-code-${i}">Mission: </label>
                    <select id="mission-code-${i}" name="missionCode${i}">
                        <option value="">--Choose--</option>
                        ${missionsOption}
                    </select>
                    <label for="mission-percentage-${i}">Percentage: </label>
                    <input type="number" step=".1" min="0" max="1"
                     id="mission-percentage-${i}" name="missionPercentage${i}"/>
                    <br/>
                `;
                container.appendChild(inputGroup);
            }
        }
    </script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<h1>What did you do that day?</h1>

<p><strong>Sum of percentages must equal 1</strong>.<br>
    Use care missions to complete missing hours if needed.</p>

<form th:action="@{/daily-execution}" method="post">
    <label for="date">The day: </label>
    <input type="text" id="date" name="date" class="datepicker"/>
    <br/>
    <div id="inputContainer"></div>
    <button type="submit">Submit</button>
</form>

<script>
    const currentYear = new Date().getFullYear();
    flatpickr(".datepicker", {
        minDate: `${currentYear}-01-01`,
        maxDate: `${currentYear}-12-31`,
        dateFormat: "Y-m-d"
    });
    createInputs(5);
</script>
</body>
</html>
