<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Asa - Missions by Products</title>
    <link href="/main.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<body class="bg-gray-50 text-gray-800">
<div th:replace="fragments/header :: header"></div>

<div class="ml-6 mr-6 mt-6">
    <h2 class="text-xl font-bold mb-2">Worker</h2>
    <div th:replace="fragments/workerSelector :: workerSelector(missions, All)"></div>

    <h2 class="text-xl font-bold mt-6" th:text="'Missions by Products - ' + ${worker == null ? 'All' : worker.name()}"></h2>
    <strong>"st="</strong> refers to days executed by a <strong>st</strong>udent worker.
</div>

<div class="ml-6 mr-6 flex gap-6">
    <ul class="ml-6 mt-9 list-disc w-1/2">
        <li th:each="p: ${products}" class="mb-4">
            <strong class="text-lg font-semibold"
                    th:text="${p.code()} + ': ' + ${p.name()} + ' (' + ${#numbers.formatDecimal(p.executedDays(), 1, 2)} + ' | st=' + ${#numbers.formatDecimal(p.studentExecutedDays(), 1, 2)} + ')' "
                    th:title="${p.description()}">
            </strong>
            <ul class="ml-6 list-disc">
                <li th:each="m: ${p.missions()}"
                    class="ml-4 text-sm"
                    th:text="${m.getCode()} + ': ' + ${m.getTitle()} + ' (' + ${#numbers.formatDecimal(m.executedDays(), 1, 2)}  + ' | st=' + ${#numbers.formatDecimal(m.studentExecutedDays(), 1, 2)} + ')' "
                    th:title="${m.getDescription()}">
                </li>
            </ul>
        </li>
    </ul>

    <table class="w-1/2">
        <thead>
        <tr>
            <th th:each="month : ${months.keySet()}"
                style="text-align:center" class="w-1/12 text-center"
                th:text="${#strings.capitalize(month)}">
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="w-1/12 text-center"
                th:each="month : ${T(java.time.Month).values()}">
                <ul class="list-none text-center">
                    <li th:each="p : ${months[month.toString().toLowerCase()]}" class="mb-4 text-center">
                        <strong class="text-lg font-semibold"
                                th:text="${p.executedDays() > 0 ? #numbers.formatDecimal(p.executedDays(), 1, 2) : '-'}">
                        </strong>
                        <ul class="list-none text-center">
                            <li th:each="m: ${p.missions()}" class="text-sm text-center"
                                th:text="${m.executedDays() > 0 ? #numbers.formatDecimal(m.executedDays(), 1, 2) : '-'}">
                            </li>
                        </ul>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td class="w-1/12 text-center font-bold"
                th:each="month : ${T(java.time.Month).values()}">
                <ul class="list-none text-center">
                    <li th:each="t : ${total[month.toString().toLowerCase()]}" class="mb-4 text-center">
                        <strong class="text-lg font-semibold"
                                th:text="${#numbers.formatDecimal(t, 1, 2)}">
                        </strong>
                    </li>
                </ul>
            </td>
        </tr>
        </tfoot>

    </table>

    <script>
        function updateFilters() {
            const workerCode = document.getElementById("worker").value;
            window.location.href = `/missions?workerCode=${workerCode}`;
        }

        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("worker").addEventListener("change", updateFilters);
        });
    </script>
</div>

</body>
</html>