<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Asa - Mission Executions</title>
    <link href="/main.css" rel="stylesheet"/>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div>
    <h2>Worker</h2>
    <div th:replace="fragments/workerSelector :: workerSelector(mission-executions, All)"></div>

    <input id="monthPicker" type="month"
           th:value="${month}"
           onchange="updateMonth(this.value)"
           style="margin-top: 20px;" />
</div>

<div>
    <h2 th:text="'Mission executions - ' + (${worker == null ? 'All' : worker.name()})"></h2>
    <strong style="color: red">Care missions are colored red.</strong>

    <ul>
        <li th:each="dailyExecution: ${dailyExecutions}">
            <h3 th:text="${dailyExecution.date()}"></h3>
            <ul>
                <li th:each="thMe: ${dailyExecution.thExecutionsPerMission()}">
                    <h4 th:text="${thMe.mission().code()} + ': ' + ${thMe.mission().title()}"
                        th:style="'color: ' + (${thMe.mission().isCare(careProductCode)} ? 'red' : 'black')"></h4>
                    <ul>
                        <li th:each="me: ${thMe.executions()}"
                            th:text="${me.worker().name()} + ' ('+ ${me.dayPercentage()} +'): ' + ${me.comment()}"
                            th:style="'color: ' + (${me.mission().isCare(careProductCode)} ? 'red' : 'black')">
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<script>
    function updateMonth(selectedMonth) {
        window.location.href = '/mission-executions?yearMonth=' + selectedMonth;
    }
</script>
</body>

</html>
