<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Asa - Worker Level History</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col min-h-screen bg-gray-50" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="fragments/header :: header"></div>

<main class="flex-grow flex flex-col items-center px-3 mt-16">
    <div class="w-2/3 space-y-8">

        <div class="flex justify-between items-center">
            <div th:replace="fragments/workerSelector :: workerSelector(work-and-care-calendar, Myself)"></div>

            <a th:href="@{/worker}"
               class="inline-flex items-center gap-2 bg-[#2D2D5A] hover:bg-[#16163F] text-white font-semibold py-2 px-4 rounded transition">
                <i class="material-icons">person</i>
                Back to profile
            </a>
        </div>

        <h2 class="text-2xl font-semibold text-center text-gray-800" th:text="'History of levels - ' + ${worker.name()}"></h2>

        <div class="overflow-x-auto">
            <table class="w-full bg-white shadow-md rounded-xl">
                <thead>
                <tr class="bg-gray-100 text-gray-600 uppercase text-sm leading-normal text-center">
                    <th class="py-3 px-6">Level</th>
                    <th class="py-3 px-6">Entrance date</th>
                    <th class="py-3 px-6">Contract Type</th>
                    <th class="py-3 px-6">Projected Days To Work</th>
                    <th class="py-3 px-6">Actual Worked Day</th>
                </tr>
                </thead>
                <tbody class="text-gray-700 text-sm font-light text-center">
                <tr th:each="levelHistory : ${workerLevelHistory}"
                    class="border-b border-gray-200 hover:bg-gray-50 text-center">
                    <td class="py-3 px-6 text-center" th:text="${levelHistory.level}"></td>
                    <td class="py-3 px-6 text-center" th:text="${#dates.format(levelHistory.entranceInstant, 'dd MMM yyyy')}"></td>
                    <td class="py-3 px-6 text-center" th:text="${levelHistory.contractType}"></td>
                    <td class="py-3 px-6 text-center" th:text="${levelHistory.projectedDaysToWork}"></td>
                    <td class="py-3 px-6 text-center" th:text="${levelHistory.actualWorkedDay}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<script>
    function updateFilters() {
        const workerCode = document.getElementById("worker").value;
        window.location.href = `/worker-level-history?workerCode=${workerCode}`;
    }

    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("worker").addEventListener("change", updateFilters);
    });
</script>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>